tunnel: TUNNEL_ID
credentials-file: /Users/USERNAME/.cloudflared/TUNNEL_ID.json
metrics: 127.0.0.1:18082

ingress:
  - hostname: cdmx-radxaflash.mantilla.ca
    service: http://127.0.0.1:18080
  - service: http_status:404
